apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: spinnaker

resources:
  - resources/namespace.yml
  - resources/spin-sa.yml
  - resources/kubesvc-deployment.yml

images:
  - name: armory/kubesvc
    newTag: 0.5.0    # Version of the agent to use

configMapGenerator:
- name: kubesvc-config
  files:
  - resources/kubesvc.yml
